/* Header */
.header {
  background-color: hsl(184, 52%, 43%);
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.app-name {
  font-size: 1.5rem;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  width: 50vw; /* 50% of the viewport width */
  height: 50vh; /* 50% of the viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coll:first-child {
  margin-right: 20px; /* Add some spacing between logo and heading */
}

.coll:last-child {
  flex-grow: 1; /* Allow the heading to take up remaining space */
}

.logo {
  max-width: 100px;
  height: auto;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
  }

  .coll {
    margin-bottom: 20px;
  }
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}

.button-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.button-row button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}