/* Header */
.header {
  background-color: #961d1d;
  color: #fff;
  padding: 20px 0;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}

.logo {
  height: 50px;
  margin-right: 20px;
}

.app-name {
  font-size: 1.5rem;
  align-items: center;
  padding: 20px;
  text-align: center;
  color: #fff;
  padding: 20px;
}

.coll:first-child {
  margin-right: 20px; /* Add some spacing between logo and heading */
}

.coll:last-child {
  flex-grow: 1; /* Allow the heading to take up remaining space */
}

.logo {
  max-width: 100px;
  height: auto;
}

.display-4 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0;
}

@media (max-width: 768px) {
  .row {
    flex-direction: column;
    text-align: center;
  }

  .coll {
    margin-bottom: 20px;
  }
}
.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.filter-container {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-bottom: 20px;
}
